.group {
  width: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}

.hyperLink {
  width: 30px;
  height: 30px;
}

.inputWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
}
.activeInputWrapper {
  visibility: visible;;
  pointer-events: auto;
}

.input {
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

.xWrap,
.checkWrap {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.x,
.check {
  fill: white;
  transition: fill .3s;
  /*pointer-events: none;*/
}
.x:hover,
.check:hover {
  fill: #2b98f0;
}
.x {
  width: 20px;
  height: 20px;
}
.check {
  width: 30px;
  height: 30px;
}
