.group {
  width: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}

.inputWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  background-color: #3E3E3E;
  border-radius: 3px;
}

.activeInputWrapper {
  visibility: visible;;
  pointer-events: auto;
}

.input {
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 8px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
  background-color: transparent;
  border: none;
  background-image: none;
  box-shadow: none;
  color: #ffffff;
}

.xWrap,
.checkWrap {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkWrap:hover svg {
  fill: #2b98f0;
}

.xWrap:hover svg {
  fill: #aaa;
}

.x,
.check {
  fill: white;
  transition: fill .3s;
  pointer-events: none;
}

.x {
  width: 12px;
  height: 12px;
}

.check {
  width: 15px;
  height: 15px;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input:-ms-input-placeholder {
  color: #aaa;
}
